# =================================================================
# JetBrains IntelliJ IDEA
# =================================================================
.idea/
*.iml
*.iws
*.ipr

# =================================================================
# Eclipse
# =================================================================
.metadata/
.settings/
.classpath
.project
*.launch
bin/
eclipse/

# =================================================================
# Visual Studio Code
# =================================================================
.vscode/

# =================================================================
# Gradle (система сборки)
# =================================================================
.gradle/
build/
gradle/
gradlew
gradlew.bat

# =================================================================
# Сгенерированные и временные папки
# =================================================================
out/
run/
runs/
generated/
user_jvm_args.txt

# =================================================================
# Логи
# =================================================================
logs/
*.log

# =================================================================
# Файлы Forge MDK
# =================================================================
forge*changelog.txt

# =================================================================
# Файлы пользователя
# =================================================================
*.userdev
saves/
schematics/